@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* body {
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
margin: 0px;
}

:root {
    --purple: #9356DC;
    --pink: #FF79DA;
    --cyan: #99E2D0;
}

main {
    padding: 0 10px;
}

h2,
h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}