@use "./mixin.scss";

.operation {
& ol {
display: flex;
gap: 10px;
@media (max-width: 768px) {
    flex-direction: column;
    }
}
& li {
background: #f6f6f6;
@include mixin.box-shadow-main;
padding: 10px 20px;
border: 1px solid red;
flex-grow: 1;
border-radius: 15px;
&:hover { 
    transition:all 200ms ease;
    background: white;
        }
    }
}



