@use "../mixin.scss";

.explore {
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 20px;
& h2 {
    margin: 0;
    padding-top: 20px;
}

& p {
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 15px;
}
& button {   /* Bouton gradient, texte, dimensions */
    @include mixin.button-gradient;
}
}   