footer {
    background-color: #353535;
    align-items: center;
    color: white;
}

footer h2 {
    font-family: "Shrikhand", cursive;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

footer p {
    font-size: 18px;
    margin: 0.5rem 0;
    &:hover {
        transform: scale(1.01);
        cursor: pointer;
        transition: all 200ms ease;
    }
}

footer i {
    margin-right: 0.5rem;
}

.footer-text {
    max-width: 1280px;
    margin: auto;
    padding: 2rem 0;
    @media (max-width: 870px) {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
        display: inline-block;
    } /* media queries display column under 870 */
}
