header {
    font-family: "Shrikhand", cursive;
    text-align: center;
    box-shadow: 0px 1px 6px 1px rgb(197, 196, 196);
    padding: 10px;
    position: relative; /* Permet de faire passer le header en 1er et affiché le box shadow */
    font-size: 18px;
}
