.paris {
    /* PARIS BELLEVILLE */
    background-color: #f0f0f0;
    display: flex; /* flex pour alligné l'icone et le texte */
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px; /* gap entre icone et texte */
    padding: 15px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(74, 74, 74);
    .fas {
        transform: scale(1.2, 1.2);
    }
}
